.w {
	width: 1492px;
	/*height: 30px;*/

	margin: 0 auto;
	
}
/*.navtl  a:hover,.navtr a:hover{
	color: red;


}*/
.navtl {
	position: relative;
}
.navtl .ll {
	position: absolute;
	left: 0;
	top: 15px;
	z-index: 200

}
.navtl  a {
	display: inline-block;
	width: 70px;
	font: 13px Arial;
	float: left;
	
}
.navtr {
	position: relative;
}
.navtr .rr {
	position: absolute;
	right: 30px;
	top: 15px;

}
.navtr a {
	display: inline-block;
	width: 55px;
	height: 25px;
	/*line-height: 25px;*/
	text-align: center;
	font: 13px Arial;
	float: right;
	
	
}
.navtr .rr .login{
	line-height: 25px;
	border-radius: 7px;
	background-color: #4E71F2;
	color: white;
	transform: translateY(-3px);
}
.img {
	position: relative;
}
.img img{
	width: 300px;
	height: 130px;
	position: absolute;
	left: 43%;
	top: 60px
}

.search {
	width: 660px;
	height: 44px;
	position: relative;
	transform: translateX(70px);
}
.search div {
	position:absolute;
	
	top: 200px;
}
.search div span {
	position:absolute;
	top: 15px;
	right: 120px;
	width: 24px;
	height: 20px;
	background: url(../images/camera.png) no-repeat 0 -51px;
	
}
.search div span:hover {
	cursor: pointer;
	background: url(../images/camera.png) no-repeat 0 -75px;
}
.textbox {
	width: 548px;
	height: 44px;

	border:2px solid rgb(211, 212, 218,.8);
	border-radius: 10px 0 0 10px;
	margin-right: -5px;
	padding: 12px 48px 12px 16px;

}
.textbox:focus {
	border-color: #4662D9;  
  

}
.sub {
	
/*margin-top: 100px;*/
	width: 108px;
	height: 44px;
	transform: translateY(2px);
	color: white;
	font-size: 15px;

	background-color: #4662D9;
	border-radius: 0 10px 10px 0;
	cursor: pointer;

}

.hot {
	position: relative;
}

.hot .hotitem  {
	width: 700px;
	
	
	position: absolute;
	top: 250px;
	left:490px;

}
.hot .hotitem h4 {
	margin-bottom: 10px
}
.hot .hotitem li {
	width: 350px;
	margin-bottom: 10px;
	/*margin-right: 10px;*/
	float:left;
}
.hot  li span {
	margin-right: 5px
}
.hot  li .hot1 {
	color: #fe2d46;
}
.hot  li .sp {
		padding: 1px;
	    color: white;
	    font-size: 13px;
	    border-radius: 3px
}
.hot  li .newi{
	    background-color: #ff455b;
	    
	
}
.hot  li .hoti{
	 background-color: #ff9812;
	
}
.hot  li .hot2 {
	color: #f60;
}
.hot  li .hot3 {
	color: #faa90e;
}
.common {
	color: #9195a3;
}

.extra li a,.extra li{
	font-size: 12px;
	color: #bbb;
	float: left;
	margin-right: 13px
}
.extra li a:hover {
	color: black;
}
.extra {
	height: 700px;

	position: relative;
	bottom: 5px

}
.extra .box {
	position: absolute;
	left: 260px;
	bottom: 20px;
}
.hot,.img,.search {
	z-index: 100
}

/*没有给最外层盒子置顶宽度*/